
html {
    font-size: 13.3333vw;
}
@font-face{
	font-family: DigifaceWide;
	src: url('../fonts/digifacewide.ttf');
}

@media screen and (min-width: 600px) {
    html {
        font-size: 200px;
    }
}
.triangle {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 10px solid rgba(0, 0, 0, 0.65);
	margin-left: 10px;
}
.van-toast{
	font-size: 28px;
}